# temp files from editors
*~
*.bak
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
.vscode
nbproject/
.env

# hidden files created by Windows
Thumbs.db
desktop.ini

/app/node_modules
/app/public/hot
/app/public/storage
/app/storage/*.key
/app/vendor
/app/.env
/app/.env.backup
/app/.phpunit.result.cache
/app/docker-compose.override.yml
/app/Homestead.json
/app/Homestead.yaml
/app/npm-debug.log
/app/yarn-error.log

!/data/mysql
/data/mysql/*
!/data/localstack
/data/localstack/*
!/data/redis
/data/redis/*

!/logs/nginx
/logs/nginx/*
